@model IEnumerable<WebContratos.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContratoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeMutuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAssinatura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContratoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeMutuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAssinatura)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContratoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContratoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContratoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
